.mt-3 {
  margin-top: 0.75rem/* 12px */;
}
.ml-2 {
  margin-left: 0.5rem/* 8px */;
}
.mr-5 {
  margin-right: 1.25rem/* 20px */;
}
.pl-8 {
  padding-left: 2rem/* 32px */;
}
.pt-3 {
  padding-top: 0.75rem/* 12px */;
}
.pt-3 {
  padding-top: 0.75rem/* 12px */;
}
.border {
  border-width: 1px;
}
.text-xl {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}
.txt-lighter {
  color: #e2e8f0;
}
.txt-success {
  color: #16a34a;
}
.txt-light {
  color: #6b7280;
}
.txt-danger {
  color: #ef4444;
}
.text-2xl {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}

